@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Carter+One&family=Lobster&family=Poly:ital,wght@0,1&family=Radio+Canada:wght@500&display=swap');
.image
{
   height: 250px;
   

}

.sponsor
{

 height: 50px;
 font-family: Poly;
}