.btn-wrapper{
    background-color:#881E82;
    display:flex;
    justify-content: flex-end;
    margin-right:5px;
    margin-bottom: -50px;
}
.btn{
    border-radius:20px;
}
@media screen and (max-width:425px){
    .btn-wrapper{
        margin-bottom:-5px;
    }
}
