@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800&family=Carter+One&family=Fondamento&family=Lobster&family=Poly&family=Rammetto+One&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.au-content{
    font-family: 'Poly', serif;
}
.au-about{
    font-family: 'Fondamento', cursive;
    line-height: 4.5rem !important;
}
.au-infin8{
    font-family: 'Lobster', sans-serif;
}
.lotus{
    left: -200px;
    bottom: -150px;
    animation: rotate-lotus 30s infinite linear;
}

@keyframes rotate-lotus{
    0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(360deg);
      }
}

@media(max-width:810px){
    .au-container{
        flex-direction: column;
        margin-top: 120px !important;
    }
    .au-heading{
        width: 100vw !important;
        height: 300px !important;
    }
    .au-about{
        font-size: 25vw !important;
    }
    .au-infin8{
        font-size: 25vw !important;
    }
    .au-content{
        font-size: 22px;
        line-height: normal;
    }
    .au-cont{
        width: 100vw !important;
        padding: 0 !important;
    }
    .img-border{
        display: none;
    }
    .lotus{
        display: none;
    }
}
