body{
  overflow-x: hidden;
}
.card-container {
  background-color: #881e82;
  display: flex;
  flex-wrap: wrap;
  width:100vw;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  overflow-y:hidden;
}
.heading {
  font-family: "Righteous", cursive;
}
.moving-text{
  white-space: nowrap;
  animation: move-animation-events 30s infinite linear;
}

@keyframes move-animation-events{
  0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-650px);
    }
    100% {
      transform: translateX(0);
    }
}


.register-text{
  margin-bottom:0px;
}
.markee{
  margin-top:15px;
}

@media screen and (max-width:425px){
  .event-card{
    width:100%;
    margin-left:10px;
    margin-right:10px;
  }
}