@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Carter+One&family=Radio+Canada:wght@500&display=swap');

.back {
    font-family: 'Rammetto One';
  }
  
  .competitionName {
    font-family: 'Lobster';
    z-index: 2;
  }
  .eventpage-container{
    height: 90vh;
  }
  .blue-stripe{
    height: 10vh;
  }
  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .upper-text-eventpage{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .flower1 {
    bottom: -130px;
    left: -130px;
    z-index:1;
    animation: rotate-animation 30s linear infinite;
  }
  .main{
    width: 100vw;
    background-image: url(../assets/bg-left.svg);
    
  }
  .h1 {
    font-family: 'Fondamento';
    font-style: italic;
  }
  
  .h2 {
    font-family: 'Poly';
  }
  
  .text-white{
    z-index: 2;
  }
  
  .about
  {
    font-family: Carter One;
  }
  .contact-eventpage
  {
    font-family: Carter One;
    
  }

  .person
  {
    font-family: Radio Canada;
  }

  .reg
  {
    font-family: Carter One;
  }
  .rules-list{
    list-style: inside;
  }

  @media(max-width:810px){
    .eventpage-container{
      flex-direction: column;
      height: auto;
    }
    .upper-text-eventpage{
      width: 100vw;
    }
    .competitionName{
      padding: 30px;
      padding-inline: 20px;
    }
    .flower1{
      bottom: -100px;
      left: -100px;
      width: 250px;
    }
    .contact{
      width: 100% !important;
    }
  }