@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');


.events-wrapper{
  background-image: url(../assets/events-bg.svg);
}
.events-heading{
  font-family: 'Mochiy Pop P One', sans-serif;
}
.button-back-events{
  font-family: 'Righteous', sans-serif;
}