@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800&family=Carter+One&family=Fondamento&family=Lobster&family=Poly&family=Rammetto+One&family=Righteous&display=swap");
@import url(https://db.onlinewebfonts.com/c/7e96eba370659b4e4563309dc4ebb33f?family=Samarkan+Normal+V2);

html{
  scroll-behavior: smooth;
  /* background-image: url(../assets/infin8white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: purple;
  height: 100vh;
  width: 100vw; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background-main{
  background-image: url(../assets/Intersect.svg);
}
.landing-yellow {
  position: relative;
  width: 95vw;
  min-height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.logo {
  /* width: 600px; */
  width: min(35vw, 650px);
  padding-bottom: 40px;
}
.eventTheme {
  background-image: url("../assets/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: min(600px, 40vw);
  /* width: 40vw; */
  font-family: "Samarkan Normal V2";
}
.countdown {
  background-image: url("../assets/purple.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
  font-family: "Lobster", sans-serif;
}
.countdown-text {
  font-family: "Lobster", sans-serif;
}
.flower {
  position: absolute;
  animation: rotate-animation 30s infinite linear;
  z-index: -1;
}
.f1 {
  right: -150px;
  top: -380px;
}
.f2 {
  right: 250px;
  bottom: -400px;
}
.navbar {
  font-family: "Righteous", sans-serif;
}
.nav-menu {
  display: none;
  font-family: "Righteous", sans-serif;
}
.navbar:hover {
  cursor: pointer;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar-list li{
  padding-inline: 20px !important;
  padding: 5px;
  border-radius: 20px;
}
.navbar-list li:hover{
  background-color: #700013;
}

@media (min-width: 1300) {
  .left {
    align-items: end !important;
  }
}
@media (max-width: 812px) {
  .f1 {
    right: -190px;
    top: -170px;
  }
  .f2 {
    left: -190px;
    bottom: -170px;
  }
  .main-landing {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100vw !important;
    align-items: center !important;
  }
  .landing-yellow {
    width: 100vw;
  }
  .logo {
    width: 75vw;
  }
  .eventTheme {
    width: 85vw;
    font-size: 8vw !important;
    height: 80px !important;
  }
  .countdown-container {
    padding-top: 10vw;
    align-items: start !important;
    gap: 10px !important;
  }
  .countdown {
    width: 22vw !important;
    height: 22vw !important;
    font-size: 10vw !important;
  }
  .countdown-text {
    font-size: 7vw !important;
  }
  .nav-container {
    padding-inline: 0px !important;
    justify-content: start !important;
    align-items: start !important;
    z-index: 5;
    position: absolute;
    top: 100px;
    left: 10px;
    display: none;
  }
  .navbar-list {
    flex-direction: column;
    gap: 40px !important;
  }
  .nav-menu {
    display: flex !important;
  }
}
