.sponsors-wrapper{
  background-image: url(../assets/Intersect.svg);
}
.heading {
  color: #fe9;

  text-align: center;
  font-family: Rammetto One;
  font-weight: 400;
}
.titleS {
  background-color: #fa0;
}
.titleS h1 {
  font-family: Righteous;
  font-weight: 400;
}
.contact {
  width: 25rem;
  height: 5rem;
  flex-shrink: 0;
  background-color: #e7f3fe;
}
.contactd {
  background-color: #2dc653;
}
.contact h1 {
  color: #000;
  text-align: center;
  font-family: Righteous;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.box {
  width: 21.25rem;
  height: 20.8125rem;
  flex-shrink: 0;
  background-color: #e7f3fe;
}
.box-text {
  color: #10451d;

  text-align: center;
  font-family: Righteous;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.partners {
  width: 20rem;
  height: 5rem;
  flex-shrink: 0;
  background-color: #07beb8;
  color: #000;

  text-align: center;
  font-family: Righteous;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 200px) and (max-width:450px) {
  .heading {
    font-size: 3.5rem;
  }
}
