@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
body{
    overflow-x: hidden;
}
.wrapper{
    background-color:#17ADC1;
    background-image:url("../assets/team_background.png");
    background-repeat: repeat;
    background-size: 1000px;
    width:auto;
    overflow-x:hidden;
    /* padding:30px; */
    /* padding:10px; */
    width:auto;
    overflow-wrap:normal;
}
.header{
    padding:20px;
    overflow-x:hidden;
    width:auto;
}
.card-container{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    width:100%;
    background:transparent;
    overflow-x:hidden;
}
.btn{
    color: #FFFFFF;
    text-align: center;
    font-family: Righteous;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:250px;
    height:50px;
}
.home-btn{
    color: #FFF;
    font-family: Righteous;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-left:8px; */
}
.team-txt{
    color: #FFD819;
    text-align: center;
    font-family:"Mochiy Pop P One";
    /* font-size: 120px; */
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
}
.team-txt-container{
    display:flex;
    justify-content: center;
    align-items:center;
    overflow-wrap: normal;
}
.btn-bar{
    width:800px;
    height:90px;
    flex-shrink:0;
    background-color:#1C6C9D;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:8vh;
    border-radius:10vw;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}
.btn-bar-wrapper{
    display:flex;
    justify-content:center;
    margin-top:20 vh;
}
.img-wrapper{
    margin-left:100px;
    margin-right:100px;
    margin-top:20px;
    margin-bottom:20px;
}
.head-tag{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    width: 400px;
    /* width:20vw; */
    height: 80px;
    flex-shrink: 0;
    background:#178A99;
    color: #FFD400;
    text-align: center;
    font-family: Righteous;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom:5vh;
    border-radius:10vw;
}
.head-tag-wrapper{
    margin-top:40px;
}
.conditional-tag{
    width:100vw;
    margin-bottom: 30px;
}
.back-btn-wrapper{
    display:flex;
    align-items:center;
    margin-left:0px;
}
.active{
    background-color: #FDC500;
    color:#000;
    border-radius:10vw;
}
.slider-team{
    width: 250px;
    height: 50px;
    border-radius: 10vw;
    z-index: 0;
    transition: all 0.3s ease;
}
button{
    z-index: 1;
    text-align: center;
}
.button-back-team:hover{
    color: #FFD819;
}
.button-back-team{
    font-family: 'Righteous', sans-serif;
}

@media screen and (max-width:752px) {
    .head-tag{
        width:50vw;
        height:15vh;
    }
    .team-txt{
        font-size:15vw;
    }
    .dec-img{
        width:15vw;
    }
    .btn{
        width:20vw;
        height:9vh;
    }
}

@media  screen and (max-width:704px) {
    body{
        overflow-x:hidden;
    }
    .head-tag{
        height:10vh;
    }
}
@media screen and(max-width:703px) {
    /* .btn{
        font-size:15px;
        width:17vw;
        height:40px;
    } */
} 
@media screen and (max-width:425px) {
    .img-wrapper{
        padding:0px;
    }
}

@media (max-width:760px){
    .btn-bar{
        border-radius:5px;
        width:80vw;
        height:12vh;
        padding: 0;
    }
    .slider-team{
        display: none;
    }
    .btn{
        font-size:15px;
        /* width:17vw; */
        width:100px;
        height:40px;
    }
}