@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800&family=Carter+One&family=Fondamento&family=Lobster&family=Poly&family=Rammetto+One&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.faqs-heading-container{
    height: 10vw;
}
.faqs-heading{
    background: url(../../assets/YellowBanner.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1000px;
    height: 200px;
    font-family: 'Carter One', system-ui;
}
.faq-container{
    font-family: 'Archivo', sans-serif;
}
.faq-q:hover{
    cursor: pointer;
}
.faq-a{
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
svg{
    transition: all 0.5s;
}