@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Lora:ital@1&family=Orbitron&family=Oswald&family=Poppins:wght@200&display=swap');
*{
    margin:0;
    padding:0;
}
.event-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    height:400px;
    width:300px;
    flex-shrink:0;
    background-color:#881E82;
}
.card-img{
    width:80%;
    border:1px solid #FDC500;
    height:35vh;
    box-shadow:10px 10px #FDC500;
}
.card-text{
    color:#FDC500;
    font-family:'Poppins';
    font-size:52px;
    font-style:normal;
    font-weight:500;
    line-height:normal;
}
.incentive-text{
    color: #F1CF43;
    font-family:'Poppins';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}