@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Lora:ital@1&family=Orbitron&family=Oswald&family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}
.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 590px;
  width: 400px;
  flex-shrink: 0;
  background-color: #881e82;
  margin-bottom: 150px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  transition: transform 1s ease;
  padding-bottom:70px;
}

.card-text {
  margin: 5px;
  color: #fdc500;
  font-family: "Poppins";
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.incentive-text {
  color: #f1cf43;
  font-family: "Poppins";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top:-190px;
}

.card-img {
  width: 300px;
  border: 1px solid #fdc500;
  height: 400px;
  box-shadow: 10px 10px #fdc500;
  margin-bottom:-150px;
  transition: all 0.5s ease;
}
.card-img:hover{
  box-shadow: 20px 20px #fdc500;
  transform: translate(-10px,-10px);
}

/* .event-card:hover {
  border-radius:15px;
  cursor: pointer;
  box-shadow: 0 8px 16px #fdc500;
}
.event-card:hover .card-img{
  transition: transform 1s ease-in-out;
  box-shadow: 5px 5px 5px 5px #fdc500;
  transform: translate(0, 3px);
}


.event-card:hover ,.card-text,.incentive-text{
  .card-text,.incentive-text{
    text-shadow:2px 2px 4px #fdc500;
  }
}

.card-img:hover {
  transition: transform 1s;
} */

@media screen and (max-width:625px){
  .event-card{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 30px !important;
  }
  .card-img{
    margin-bottom:20px;
  }
  .card-text{
      margin-top:150x;
  }
  .incentive-text{
      margin-top:10px;
  }
}



