@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800&family=Carter+One&family=Fondamento&family=Lobster&family=Poly&family=Rammetto+One&family=Righteous&display=swap');

.left-timeline{
    z-index: 1;
    background-image: url(../../assets/bg-left.svg);
}
.timeline-heading{
    z-index: 2;
    font-family: 'Rammetto One', sans-serif;
    height: 20vh;
}
.day-btns{
    font-family: 'Righteous', sans-serif;
}
.gallery-screen{
    height: 130vh; 
    background-image: url(../../assets/bg-right.svg);
}

.gallery-container{
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    width: 100vw;
    overflow: hidden;
}
.gallery-item{
    height: 470px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    
    width: 370px;
    border-radius: 15px;
    background-size: contain;
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
}

.gallery-item-1{
    transform: translate(-210%, -30%) rotate(-35deg);
}

.gallery-item-2, .gallery-item-4{
    z-index: 1;
}

.gallery-item-2{
    transform: translate(-105%,-15%) rotate(-20deg);
}

.gallery-item-3{
    z-index: 2;   
}

.gallery-item-4{
    transform: translate(105%,20%) rotate(20deg);
}   

.gallery-item-5{
    transform: translate(200%, 60%) rotate(35deg);
}

.gallery-item-6{
    z-index:-1;
    transform: translate(340%, 110%) rotate(60deg);
}

.gallery-item-8{
    z-index: -1;
    transform: translate(-300%, -40%) rotate(-60deg);
}
.gallery-item-7{
    z-index: -1;
    transform: translate(-490%, 320%) rotate(60deg);
}
.button{
    z-index: 100;
    position: absolute;
}
.button-prev{
    left: 20px;
}

.button-next{
    right: 20px;
}

@media(max-width:810px){
    .timeline-heading{
        font-size: 15vw !important;
    }
    .gallery-container{
        height: 180vw;
    }
    .gallery-item{
        width: 80vw;
        height: 100vw;
    }
    .gallery-screen{
        height: 220vw;
    }
}