@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800&family=Carter+One&family=Fondamento&family=Lobster&family=Poly&family=Rammetto+One&family=Righteous&display=swap');

.MegaEvents-screen{
    height: 80vh;
    font-family: 'Archivo', sans-serif;
    overflow: hidden;
    background-image: url(../../assets/mega-bg.png);
}
.bg-text{
    transform: rotateZ(-5deg) skew(-10deg);
    overflow: hidden;
    z-index: 0;
    color: #FDC500;
}
.bg-text-top{
    top: 20%;
}
.bg-text-bottom{
    top: 60%;
}
.bg-text-mobile{
    display: none;
     -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FDC500;
}
.mega-over{
    z-index: 1;
}
.mega-img{
    height: min(500px,30vw);
}

@media(max-width:810px){
    .MegaEvents-screen{
        flex-direction: column !important;
        height: auto;
        padding-top: 10vh;
        padding-bottom: 10vh;
        gap: 20px !important;
    }
    .MegaEvents-screen img{
        height: 90vw;
    }
    .items-begin{
        align-items: flex-start;
    }
    .mega-over{
        flex-direction: column;
        width: 100%;
    }
    .bg-text-top{
        top: 10%;
    }
    .bg-text-bottom{
        top: 80%;
    }
    .bg-text-mobile{
        display: block;
    }
}